div{
    
    text-align: center;
}
h1{
    
    
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10rem;

    color: rgb(245, 7, 7);
    
    padding: 50px;
}
span{
    color: #020202;
}